@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;
  overflow: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  &.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;

    & input {
      @apply bg-neutral-900;
    }

    @include placeholder {
      color: #8e8989;
    }
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  max-height: -webkit-fill-available;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color background-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border: none;
  background-color: #ffffff;

  &:focus {
    border: none;
    outline: none;
  }
}

textarea:focus,
input:focus {
  outline: 0;
}

textarea {
  background-color: #ffffff;
}

//icon

svg.like {
  stroke: #f91a1a;
  path {
    fill: #f91a1a !important;
  }
}

a {
  transition: ease-in 0.5s;
}

.active {
  svg {
    path {
      fill: #000000 !important;
      stroke: #000000 !important;
      stroke-width: 1 !important;
    }
  }
}

//animation

.pulse {
  animation-name: pulse-in;
  animation-fill-mode: both;
  animation-duration: 0.5s;
}

@keyframes pulse-in {
  0% {
    transform: scale(0.8, 0.8);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

//masonry-grid

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 0px; /* gutter size */
  background-clip: padding-box;
}

//media-post
.media-post-size-1 {
  min-height: 147px;
  max-height: 147px;
}

.media-post-size-2 {
  min-height: calc(294px + 0.5rem);
  max-height: calc(294px + 0.5rem);
}

//button

button {
  transition-duration: 0.3s;
  &:hover {
    opacity: 0.9;
  }
}

//css group

.notification-enter {
  transform: translateX(100%);
  opacity: 0;
}
.notification-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.notification-exit {
  opacity: 1;
  transform: translateX(0);
}
.notification-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
